<!DOCTYPE html>
<html>

<head>
  <title>Weather Station</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
  <!-- <script src="https://cdn.plot.ly/plotly-1.51.3.min.js"></script> -->
  <!-- The line below is for self-hosting plotly -->
  <script src="/plotly/plotly.js"></script>
  <script src="/momentjs/moment.js"></script>
</head>

<body>

<h1>Weather Station</h1>

<p>This is a weather station.</p>

<p><b>Time:</b> It is <span id="time"></span>.</p>

<div id="chart1"></div>

<div id="chart2"></div>


</body>

<script src="/static/js/api.js"></script>
<script src="/static/js/index.js"></script>
</html>

